name: Pull Request

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  SCHEME: "CoreDataPlus"

jobs:
  Lint:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Lint
        run: swiftformat --lint . --reporter github-actions-log

  Swift:
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-26, 
          ubuntu-latest,
        ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/Library/Developer/Xcode/DerivedData/ModuleCache.noindex
          ~/Library/Caches/org.swift.swiftpm
          ~/Library/org.swift.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.swift', '**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Package Resolution
      run: swift package resolve
    - name: Build
      run: swift build
    - name: Test
      run: swift test

  Xcode:
    strategy:
      fail-fast: false
      matrix:
        platform: [
          "macOS",
          "iOS",
          "tvOS",
          "watchOS",
          "visionOS",
          "macOS,variant=Mac Catalyst",
        ]
    runs-on: macos-26
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/Library/Developer/Xcode/DerivedData/ModuleCache.noindex
          ~/Library/Caches/org.swift.swiftpm
          ~/Library/org.swift.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.swift', '**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Package Resolution
      run: set -o pipefail && xcodebuild -resolvePackageDependencies | xcbeautify
    - name: Build
      env:
        DESTINATION: "generic/platform=${{ matrix.platform }}"
      run: set -o pipefail && xcodebuild build -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify
